In [90]:
!pip install SQLAlchemy pymysql sqlalchemy-utils pandas

Requirement already satisfied: SQLAlchemy in /Users/astrostark/opt/anaconda3/envs/estudo_db_python/lib/python3.10/site-packages (2.0.23)
Requirement already satisfied: pymysql in /Users/astrostark/opt/anaconda3/envs/estudo_db_python/lib/python3.10/site-packages (1.1.0)
Requirement already satisfied: sqlalchemy-utils in /Users/astrostark/opt/anaconda3/envs/estudo_db_python/lib/python3.10/site-packages (0.41.1)
Collecting pandas
  Downloading pandas-2.1.3-cp310-cp310-macosx_10_9_x86_64.whl.metadata (18 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/astrostark/opt/anaconda3/envs/estudo_db_python/lib/python3.10/site-packages (from SQLAlchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/astrostark/opt/anaconda3/envs/estudo_db_python/lib/python3.10/site-packages (from SQLAlchemy) (3.0.1)
Collecting numpy<2,>=1.22.4 (from pandas)
  Downloading numpy-1.26.2-cp310-cp310-macosx_10_9_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.2/61.2 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/astrostark/opt/anaconda3/envs/estudo_db_python/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/astrostark/opt/anaconda3/envs/estudo_db_python/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 10.5 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /Users/astrostark/opt/anaconda3/envs/estudo_db_python/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.3-cp310-cp310-macosx_10_9_x86_64.whl (11.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 50.9 MB/s eta 0:00:0000:010:01
Downloading numpy-1.26.2-cp310-cp310-macosx_10_9_x86_64.whl (20.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.6/20.6 MB 48.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.26.2 pandas-2.1.3 tzdata-2023.3

In [91]:
from sqlalchemy import create_engine,text
from sqlalchemy_utils import database_exists, create_database
from json import loads
from pandas import read_sql

In [ ]:
# Função para conexão com o banco mysql e para executar os comandos
def executar_query_sql_sem_retorno(query):
   with engine.connect() as conn:
       conn.execute(text(query))
       conn.commit()

In [ ]:
# Função para organizar e preprocessar os dados para inserir no banco
def preprocessar_dados_para_insert_sql(dados):
    return {
        "colunas": list(dados[0].keys()),
        "valores": criar_values_insert_sql(list(map(lambda dado: list(dado.values()),dados)))
    }

In [ ]:
# Função para reestruturar os valores para o sql de insert 
def criar_values_insert_sql(valores):
    sql = []
    for linha in valores:
        lista_str = ""
        for coluna in linha:
            if not lista_str:
                lista_str += "("
            if isinstance(coluna,str):
                lista_str += f"'{coluna}',"
            else:
                lista_str += f"{coluna},"
        lista_str = lista_str[:-1] + ")"
        sql.append(lista_str)
    return sql

In [ ]:
# Função para inserir os dados na tabela do banco 
def inserir_dados(tabela,dados):
    dados = preprocessar_dados_para_insert_sql(dados)
    executar_query_sql_sem_retorno(f"""INSERT INTO {tabela} ({", ".join(dados["colunas"])}) VALUES {", ".join(dados["valores"])}; """)

In [ ]:
# Função para executar uma consulta no banco de dados com retorno 
def executar_query_sql_com_retorno(query):
    with engine.connect() as conn:
        return read_sql(query,conn)

In [72]:
# Detalhes da conexão
host = HOST_LOCAL
user = USER_LOCAL
database = "estudo_db_python"
engine = create_engine(f"mysql+pymysql://{user}@{host}/{database}")

In [74]:
# Verifica se o banco de dados existe,caso não exista ele é criado
if not database_exists(engine.url):
    create_database(engine.url)

In [75]:
# Executa o comando de criação das tabelas se elas não existirem no banco de dados
#   Tabela "pessoas"
#       id : Chave primaria
#       primeiro_nome : string obrigatória
#       ultimo_nome : string obrigatória
#       email : string obrigatória
executar_query_sql_sem_retorno("""CREATE TABLE IF NOT EXISTS pessoas(
    id INT AUTO_INCREMENT NOT NULL,
    primeiro_nome VARCHAR(255) NOT NULL,
    ultimo_nome VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    PRIMARY KEY(id)
);""")

In [ ]:
#   Tabela "categorias"
#       id : Chave primaria
#       nome: string obrigatória
executar_query_sql_sem_retorno("""CREATE TABLE IF NOT EXISTS categorias(
    id INT AUTO_INCREMENT NOT NULL,
    nome VARCHAR(255) NOT NULL,
    PRIMARY KEY(id)
);""")

In [ ]:
#   Tabela "produtos"
#       id : Chave primaria
#       id_categoria : chave estrangeira para tabela categorias
#       nome : string obrigatória
#       preco : float obrigatório
executar_query_sql_sem_retorno("""CREATE TABLE IF NOT EXISTS produtos(
    id INT AUTO_INCREMENT NOT NULL,
    id_categoria INT NOT NULL,
    nome VARCHAR(255) NOT NULL,
    preco FLOAT NOT NULL,
    PRIMARY KEY(id),
    FOREIGN KEY(id_categoria) REFERENCES categorias(id)
);""")

In [ ]:
#   Tabela "vendas"
#       id : Chave primaria
#       id_pessoa : chave estrangeira para tabela pessoas
#       id_produto : chave estrangeira para tabela produtos
#       quantidade : int obrigatória
executar_query_sql_sem_retorno("""CREATE TABLE IF NOT EXISTS vendas(
    id INT AUTO_INCREMENT NOT NULL,
    id_pessoa INT NOT NULL,
    id_produto INT NOT NULL,
    quantidade INT NOT NULL, 
    PRIMARY KEY(id),
    FOREIGN KEY(id_pessoa) REFERENCES pessoas(id),
    FOREIGN KEY(id_produto) REFERENCES produtos(id)
);""")

In [76]:
# Lê os dados do arquivo json e converte para os tipos nativos do Python 
with open("dados_db.json","r") as file:
    dados = loads(file.read())

In [78]:
# Insere os dados nas respectivas tabelas
inserir_dados("pessoas",dados["pessoas"])
inserir_dados("categorias",dados["categorias"])
inserir_dados("produtos",dados["produtos"])
inserir_dados("vendas",dados["vendas"])

In [79]:
# Cria backup das tabelas do banco no formato csv com separador "|"
executar_query_sql_com_retorno("SELECT * FROM pessoas").to_csv("bkp_mysql_pessoas.csv", sep = "|", index = False)
executar_query_sql_com_retorno("SELECT * FROM categorias").to_csv("bkp_mysql_categorias.csv", sep = "|", index = False)
executar_query_sql_com_retorno("SELECT * FROM produtos").to_csv("bkp_mysql_produtos.csv", sep = "|", index = False)
executar_query_sql_com_retorno("SELECT * FROM vendas").to_csv("bkp_mysql_vendas.csv", sep = "|", index = False)

In [80]:
# Gera um relatório de vendas com as informações dos produtos, pessoas e total. Salva o resultado num aquivo de formato csv com separador "|"
executar_query_sql_com_retorno("""SELECT 
    vendas.id,
    vendas.quantidade,
    pessoas.primeiro_nome,
    pessoas.ultimo_nome,
    pessoas.email,
    produtos.nome,
    produtos.preco,
    vendas.quantidade * produtos.preco as total
FROM
    vendas
        LEFT JOIN
    pessoas ON vendas.id_pessoa = pessoas.id
        LEFT JOIN
	produtos ON vendas.id_produto = produtos.id
""").to_csv("relatorio_mysql_vendas.csv", sep = "|", index = False)